:root {
  --borderradius: 6px;
  --borderradius2x: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  letter-spacing: .5px;
}

.App {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 12px;
}

.shadow {
  -webkit-box-shadow: 0px 6px 14px -8px rgba(158,169,178,1);
  -moz-box-shadow: 0px 6px 14px -8px rgba(158,169,178,1);
  box-shadow: 0px 6px 14px -8px rgba(158,169,178,1);
}

.header {
  margin-bottom: 24px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--borderradius2x);
}

.btn__reporttask {
  background-color: #3d69e7;
  padding: 14px;
  cursor: pointer;
  border: none;
  border-radius: var(--borderradius);
  color: white;
}

.input__search {
  outline:none;
  padding: 14px 32px 14px 14px;
  width: 248px;
  border-radius: var(--borderradius);
  border: 1px solid #e5e5e5;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='rgba(158,169,178,1)'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right 14px center;
}

.input__search::placeholder {
    font-weight: 100;
    color: #9ea9b2;
}

.card__taskcard {
  padding: 12px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: var(--borderradius);
}

.card__taskcard .card__taskcard__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.card__taskcard .card__taskcard__header img {
  width: 52px;
  height: 52px;
  object-fit:cover;
  border-radius: 50%;
  margin-right: 12px;
}

.card__taskcard .card__taskcard__content {
  margin-bottom: 16px;
}

.card__taskcard .card__taskcard__footer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card__taskcard .card__taskcard__footer .card__taskcard__typeindicator {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: var(--borderradius);
}

.card__taskcard__typeindicator.bug {
  background-color: #f32e2e;
}

.card__taskcard__typeindicator.refactor {
  background-color: #e134cf;
}

.card__taskcard__typeindicator.feature {
  background-color: #55b969;
}

.container__kanban {
  display: flex;
  height: 85%;
  gap: 12px;
}

.container__kanban .kanban {
  width: 33%;
  padding: 16px;
  border-radius: var(--borderradius2x);
}

.kanban .kanban__title {
  margin-bottom: 12px;
}

.kanban .kanban__tasksection{
  height: 95%;
  overflow-y: scroll;
}